.signin-wrapper
= form_with url:root_path, local: true, method: :get do |f|
  .signin-wrapper__form
    .signin-wrapper__form--name
      %label{class:'label-signin'} Nickname
      %br
      %span{class:'form-must'} 
      = f.text_field :nickname, class:'signin-form', placeholder:'5文字以上(登録後に変更可能です)'
    .signin-wrapper__form--email
      %label{class:'label-signin'} email
      %br
      %span{class:'form-must'} 
      = f.email_field :email, class:'signin-form', placeholder:'5文字以上(登録後に変更可能です)'
    .signin-wrapper__form--password
      %label{class:'label-signin'} Password
      %br
      %span{class:'form-must'}
      = f.password_field :password, class:'signin-form', placeholder:'8文字以上'
    .signin-wrapper__form--password
      %label{class:'label-signin'} Password
      %br
      %span{class:'form-must'}
      = f.password_field :password_confirmation, class:'signin-form', placeholder:'8文字以上(確認)'
    .signin-wrapper__form--submit
      = f.submit '登録して進む', class: 'signin-button'

-# %h2 Sign up
-# = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
-#   = render "devise/shared/error_messages", resource: resource
-#   .field
-#     = f.label :email
-#     %br/
-#     = f.email_field :email, autofocus: true, autocomplete: "email"
-#   .field
-#     = f.label :password
-#     - if @minimum_password_length
-#       %em
-#         (#{@minimum_password_length} characters minimum)
-#     %br/
-#     = f.password_field :password, autocomplete: "new-password"
-#   .field
-#     = f.label :password_confirmation
-#     %br/
-#     = f.password_field :password_confirmation, autocomplete: "new-password"
-#   .actions
-#     = f.submit "Sign up"
-# = render "devise/shared/links"
