.all
  = render "shared/header-mini"

  .signup-wrapper
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    .signup-wrapper__form
      .signup-wrapper__form--name
        %label{class:'label-signin'} Nickname
        %br
        %span{class:'form-must'} 
        = f.text_field :nickname, class:'signin-form', placeholder:'4文字以上(登録後に変更可能です)'
      .signup-wrapper__form--email
        %label{class:'label-signin'} email
        %br
        %span{class:'form-must'} 
        = f.email_field :email, class:'signin-form', placeholder:'例)xxx@xxx.com'
      .signup-wrapper__form--password
        %label{class:'label-signin'} Password
        %br
        %span{class:'form-must'}
        = f.password_field :password, class:'signin-form', placeholder:'半角英数字6文字以上'
      .signup-wrapper__form--password
        %label{class:'label-signin'} Password
        %br
        %span{class:'form-must'}
        = f.password_field :password_confirmation, class:'signin-form', placeholder:'半角英数字8文字以上(確認)'
      .signup-wrapper__form--submit
        = f.submit '登録して進む', class: 'signin-button'

  .footer
    .footer__copy
      %small.copyright
      Copyright &copy;
      = succeed "." do
        %span#copyright_year
        2019 "CIRCLE"


-# %h2 Sign up
-# = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
-#   = render "devise/shared/error_messages", resource: resource
-#   .field
-#     = f.label :email
-#     %br/
-#     = f.email_field :email, autofocus: true, autocomplete: "email"
-#   .field
-#     = f.label :password
-#     - if @minimum_password_length
-#       %em
-#         (#{@minimum_password_length} characters minimum)
-#     %br/
-#     = f.password_field :password, autocomplete: "new-password"
-#   .field
-#     = f.label :password_confirmation
-#     %br/
-#     = f.password_field :password_confirmation, autocomplete: "new-password"
-#   .actions
-#     = f.submit "Sign up"
-# = render "devise/shared/links"
