- if Relationship.find_by(user_id: current_user.id, follow_id: @user.id)
  .follow-count
    フォロー：
  .follow-count
    = @user.following_user.length
  .followed-count
    フォロワー：
  .followed-count
    = @user.follower_user.length
  - unless current_user.id == @user.id
    = link_to "/unfollow/#{@user.id}", method: :delete, remote: true do
      .fas.fa-user-minus
      -# %button フォローを外す
- else
  .follow-count
    フォロー：
  .follow-count
    = @user.following_user.length
  .followed-count
    フォロワー：
  .followed-count
    = @user.follower_user.length
  - unless current_user.id == @user.id
    = link_to "/follow/#{@user.id}", method: :post, remote: true do
      .fas.fa-user-plus
      -# %button フォロー