- if Like.find_by(user_id: current_user.id, post_id: @post.id)
  -# .good イイねをやめる
  = link_to "/posts/#{post.id}/likes", method: :delete, remote: true do
    .fas.fa-heart
  .goodcount
    = post.likes.length
- else
  -# .nogood イイね
  = link_to "/posts/#{post.id}/likes", method: :post, remote: true do
    .far.fa-heart
  .goodcount
    = post.likes.length
