.all
  = render "shared/header-mini"


.section-group
  .section-group__title
    .section-group__title--group Group - list
  .section-group__index
    .section-group__index__contents
      - current_user.groups.each do |group|
        = link_to group_path(group.id) do
          .section-group__index__contents__content
            .section-group__index__contents__content--name
              = group.name
            .section-group__index__contents__content--category
              カテゴリ：
            .section-group__index__contents__content--members
              - group.users.each do |g|
                .section-group__index__contents__content--members--member
                  = g.nickname
              -# = group.users.nickname
  
.footer.group-footer
  = render "shared/footer"