.all
  = render "shared/header-mini"


.group-list
  .group-list__title
    .group-list__title--group Group - list
    .group-list__title--new
      = link_to '新規作成', new_group_path
  .group-list__index
    .group-list__index__contents
      - @groups.each do |group|
        = link_to group_path(group.id) do
          .group-list__index__contents__content
            .group-list__index__contents__content--name
              = group.name
          .group-list__index__contents__members--member
          - group.users.each do |g|
            - if g.image.present?
              = image_tag "#{g.image}", class: "member-avater"
            - else
              = image_tag("noImage.png", class: "member-avater")
        -# = group.users.nickname
  
.footer.group-footer
  = render "shared/footer"