.all
  = render "shared/header"

  = form_with url: '/groups', local: true, method: :post do |f|
    .group-create
      .group-create__wrapper
        .group-create__wrapper__form
          .group-create__wrapper__form--title
            .group-create__wrapper__form--title--label
              = f.label :グループ名, class: 'group-label'
            .group-create__wrapper__form--title--name
              = f.text_field :name, placeholder: 'グループ名を入力してください', class: 'group-name'
          .group-create__wrapper__form--member
            = f.label :メンバー, class: '#'
            = f.collection_check_boxes :user_ids, User.all, :id, :nickname, include_hidden: false do |c|
              = c.check_box
              = c.label{c.text}
          .group-create__wrapper__form--submit
            = f.submit 'グループを作成する'




  .group-main
    .group-main_title
    %ul.group-main_lists
      %li.group-main_list
        .group-main_list_name
          = @group.name
        .group-main_list_member
          - @group.users.each do |user|
            = user.nickname

  .footer
    .footer__copy
      %small.copyright
      Copyright &copy;
      = succeed "." do
        %span#copyright_year
        2019 "CIRCLE"
