.all
  = render "shared/header-mini"

.chat-room
  .chat-room__wrap
    .chat-room__wrap--title
      Chat-Room
    .chat-room__wrap--contents
      #messages{'data-group_id':"#{@group.id}"}
        = render @messages
      .chat-room__wrap--contents--form
        = label :content, 'Say something:'
        = text_field :content, nil, data: { behavior: 'room_speaker' }, placeholder:" 入力後、Enterを押してください", class:"message-input"
        -# %button#chat-button 送信
-# %h1 Chat-Room
-# = label :content, 'Say something:'
-# = text_field :content, nil, data: { behavior: 'room_speaker' }
-# %button#chat-button 送信
-# #messages{'data-group_id':"#{@group.id}"}
-#   = render @messages

.footer
  = render "shared/footer"