.all
  = render "shared/header-mini"

  .wrap-mypage
    .wrap-mypage-main
      .wrap-mypage-main__title
        Profile
      .wrap-mypage-main--edit
        = link_to "編集する", edit_user_registration_path
      .wrap-mypage-main__profile 
        .wrap-mypage-main__profile__left
          .wrap-mypage-main__profile__left--photo
            - if @user.image.present?
              = image_tag "#{@user.image}", class:"my-image"
            - else
              = image_tag("noImage.png", class:"my-image")
        .wrap-mypage-main__profile__right
          .wrap-mypage-main__profile__right--name
            = @user.nickname
          #follow.follow{id: @user.id}
            = render "relationships/follow_button"
          .wrap-mypage-main__profile__right--introduce
            = @user.workplace
            
  .section-all
    .section-all--index
      .section-all--index__title 
        .section-all--index__title--post My Post
        .section-all--index__title--new
          = link_to '新規作成', new_post_path,class:'new-post-link'
      .section-all--index__wrap
        %ul.section-all--index__wrap__contents
          - if @post.present?
            - @post.each do |post|
              = link_to post_path(post.id) do
                .section-all--index__wrap__contents__content
                  .section-all--index__wrap__contents__content--image
                    - if post.image.present?
                      = image_tag "#{post.image}", class:'section-all--index__wrap__contents__content--image'
                    - else
                      = image_tag("noImage.png", class:'section-all--index__wrap__contents__content--image')
                  .section-all--index__wrap__contents__content--script
                    .section-all--index__wrap__contents__content--script--user
                      カテゴリ : 
                        
                    .section-all--index__wrap__contents__content--script--title
                      = link_to "#{post.title}", post_path(post.id)
                    .section-all--index__wrap__contents__content--script--text
                      = truncate(post.text, length: 100)
          - else
            まだ投稿がありません

.section-group
  .section-group__wrap
    .section-group__wrap__title
      .section-group__wrap__title--group 
        My - Group
    - @user.groups.each do |group|
      = link_to group_path(group.id) do
        .section-group__wrap__index
          .section-group__wrap__index__contents
            .section-group__wrap__index__contents__content
              .section-group__wrap__index__contents__content--name
                グループ名：
                = group.name
              .section-group__wrap__index__contents__content--category
                開発
            .section-group__wrap__index__contents--members
              member：
              - group.users.each do |g|
                .section-group__wrap__index__contents--members--member
                - if g.image.present?
                  = image_tag "#{g.image}", class: "avater"
                - else
                  = image_tag("noImage.png", class: "avater")



.footer
  .footer__copy
    %small.copyright
    Copyright &copy;
    = succeed "." do
      %span#copyright_year
      2019 "CIRCLE"