.all
  = render "shared/header"

  .wrap-mypage
    .wrap-mypage-main
      .wrap-mypage-main__profile
        .wrap-mypage-main__profile__left
          .wrap-mypage-main__profile__left--name
            = @user.nickname
          .wrap-mypage-main__profile__left--category
            プログラミング / 英語
        .wrap-mypage-main__profile__right
          .wrap-mypage-main__profile__right--photo
            写真
      
      .wrap-mypage-main__text
        .wrap-mypage-main__text--box
          プログラミング初心者です。まだまだわからない事だらけですが、一つ一つ学んで、それを手段として様々なビジネスに関わることができればと考えています。みなさまよろしくお願いいたします。

      
      .wrap-mypage-main__wrapper
        %ul.wrap-mypage-main__wrapper__works
          - @post.each do |post|
            %li.wrap-mypage-main__wrapper__works__box
              .wrap-mypage-main__wrapper__works__box--image
                = image_tag "#{post.image}", class: 'wrap-mypage-main__wrapper__works__box--image'
              .wrap-mypage-main__wrapper__works__box--script
                .wrap-mypage-main__wrapper__works__box--script--user
                  投稿者 :
                  = post.user.nickname
                .wrap-mypage-main__wrapper__works__box--script--title
                  = post.title
                .wrap-mypage-main__wrapper__works__box--script--content
                  = post.text

- @user.groups.each do |group|
  .section-group
    .section-group__title
      .section-group__title--group Group
    .section-group__wrap
      .section-group__wrap__contents
        .section-group__wrap__contents--name
          グループ名：
          = group.name
        .section-group__wrap__contents--category
          開発
        %br
        .section-group__wrap__contents--members
          member：
          - group.users.each do |g|
            .section-group__wrap__contents--members--member
              = g.nickname + '/'



  .footer
    .footer__copy
      %small.copyright
      Copyright &copy;
      = succeed "." do
        %span#copyright_year
        2019 "CIRCLE"