-# .header
-#   .header--logo
-#     = link_to 'CIRCLE', root_path ,class:"app-title"
-#     -# = image_tag("48190.png", size:"20x20", alt:"ロゴ",class:"icon") 
-#   .header--menu
-#     Menu
-#     %ul.header--menu__lists
-#       = link_to root_path do
-#         .header--menu__lists--list
-#           Top
-#       = link_to groups_path do
-#         .header--menu__lists--list
-#           group
-#       = link_to categories_path do
-#         .header--menu__lists--list
-#           category
-#       - if user_signed_in?
-#         = link_to user_path(current_user) do
-#           .header--menu__lists--list
-#             my-page
-#         = link_to destroy_user_session_path, class: "logout-btn", method: :delete do
-#           .header--menu__lists--list
-#             sign-out
-#       - else
-#         = link_to 'sign-in', user_session_path, class: 'li header--menu__lists--list'

.cp_cont
  .cp_contents
    %h1 
    = link_to 'CIRCLance', root_path, class: "app-title"
  .cp_offcm01
    %input#cp_toggle01{ type: "checkbox" }/
    %label{ for: "cp_toggle01" }
      %span
    .cp_menu
      %ul
        %li
          = link_to "Group", groups_path
        - if user_signed_in?
          %li
            = link_to "My-page", user_path(current_user)
          %li
            = link_to "Sign-out", destroy_user_session_path, method: :delete
        - else
          %li
            = link_to "Sign-up", new_user_registration_path
          %li
            = link_to "Sign-in", user_session_path

