.all
  = render "shared/header"

  .section-all
    .section-all--index
      .section-all--index__title 
        .section-all--index__title--post Post
        .section-all--index__title--new
          = link_to 'New-post', new_post_path,class:'new-post-link'
      .section-all--index__wrap
        %ul.section-all--index__wrap__contents
          - @posts.each do |post|
            = link_to post_path(post.id) do
              .section-all--index__wrap__contents__content
                .section-all--index__wrap__contents__content--image
                  = image_tag "#{post.image}", class:'section-all--index__wrap__contents__content--image'
                .section-all--index__wrap__contents__content--script
                  = link_to user_path(post.user.id) do
                    .section-all--index__wrap__contents__content--script--user
                      投稿者 :
                      = post.user.nickname
                    .section-all--index__wrap__contents__content--script--user
                      カテゴリ :
                  .section-all--index__wrap__contents__content--script--title
                    = link_to "#{post.title}", post_path(post.id)
                  .section-all--index__wrap__contents__content--script--text
                    = truncate(post.text, length: 100)

      -# - @groups.each do |group|
      -#   .section-group
      -#     .section-group__title
      -#       .section-group__title--group Group
      -#     .section-group__wrap
      -#       .section-group__wrap__contents
      -#         .section-group__wrap__contents--name
      -#           グループ名：
      -#           = group.name
      -#         .section-group__wrap__contents--category
      -#           開発
      -#         %br
      -#         .section-group__wrap__contents--member
      -#           member:
          
    .section-all__category
      .section-all__category__wrap
        .section-all__category__wrap--title
          .section-all__category__wrap--title--name
            Category
          .section-all__category__wrap--contents
          - @category.each do |category|
            = link_to category_path(category.id), class:'side-category' do
              .section-all__category__wrap--contents__content
              ・
              = category.name

  .footer
    = render "shared/footer"
