.all
  .header
    .header--logo
      = link_to 'CIRCLE', root_path
    .header--menu
      %ul.header--menu__lists
        %li.header--menu__lists--list
          = link_to 'Top', root_path
        %li.header--menu__lists--list group
        %li.header--menu__lists--list category
        - if user_signed_in?
          %li.header--menu__lists--list my-page
          = link_to destroy_user_session_path, class: "logout-btn", method: :delete do
            .header--menu__lists--list
              sign-out
            
        - else
          = link_to 'サインイン', user_session_path, class: 'li header--menu__lists--list'

= form_for @post do |f|
  .post-main
    .post-main__form
      .post-main__form--name
        Post & Share
      .post-main__form--box
        .post-main__form--box--title
          %label{class:'label-post'} Title
          = f.text_field :title, class:'post-title', placeholder:'  記事のタイトルを入力して下さい'
        .post-main__form--box--image
          %label{class:'label-post'} Image
          %br
          = f.file_field :image, class:'post-image'
        .post-main__form--box--text
          %label{class:'label-post'} Content
          = f.text_area :text, class:'post-text',placeholder:'  本文を入力して下さい'
        .post-main__form--box--button
          = f.submit '投稿する', class:'post-submit'

  .footer
    .footer__copy
      %small.copyright
      Copyright &copy;
      = succeed "." do
        %span#copyright_year
        2019 "CIRCLE"